[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
asyncpg = "*"
uvicorn = "*"
alembic = "*"
fastapi = "*"
psycopg-binary = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
